body {
      margin: 0; 
      overflow: hidden;
      /* background-color: #F9E9FF; */
      background-color : #E6FFFC ;
      /* padding-top : 5em; */
      overflow-x: hidden;
  }


/* Header.css */
.header {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
  /* padding: 20px; */
  position: sticky;
  background-color: #FAF5F5 ;
  font-size: 18px;
  height : 3em;
  width : 100%;
}

.header-bar{
  text-decoration: none;
  display : inline;
  padding : 20px 20px;
  font-weight : 700;
  font-size:large;
  cursor: pointer;

}

.aboout {
  margin: 0; 
  overflow: hidden;
  /* background-color: #F9E9FF; */
  background-color : #E6FFFC ;
  /* padding-top : 5em; */
}

.projectss {
  margin: 0; 
  overflow: hidden;
  /* background-color: #F9E9FF; */
  background-color : #E6FFFC ;
  /* padding-top : 5em; */
}

.header-content {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}


/* Add more styles as needed */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture {
  margin-left: auto; /* This will push the picture to the right side of the header */
}
.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* Add any additional styling you want for the profile picture here */
}

.gantari {
  font-family: "Gantari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 90 ;
  font-style: normal;
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the particles background */
}

.gear {
  animation: spin infinite 1s linear;
  font-size: 15px;
}

.logo-text {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from its parent */
}

/* Add more styles as needed */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.circle{
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(115deg,yellow);
  animation: rotate 1s linear infinite;
}

.circle1{
  width: 240px;
  height: 240px;
  background-color: white;
  border-radius: 50%;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}